<!--<div class="comment-form">
    <h3>Add a Comment</h3>
    <form (ngSubmit)="addComment()">
      <div>
        <label for="comment">Comment:</label>
        <textarea id="comment" [(ngModel)]="newComment.comment" name="comment" required></textarea>
      </div>
      <button type="submit">Add Comment</button>
    </form>
  </div>
  
  <div class="comment-list">
    <h3>Comments</h3>
    <ul>
      <li *ngFor="let comment of comments">
        <p>{{ comment.comment }}</p>
        <p>Likes: {{ comment.likes }} | Dislikes: {{ comment.dislikes }}</p>
        <div class="respond-form">
          <h4>Add a Respond</h4>
          <form (ngSubmit)="addRespond(comment.id)">
            <div>
              <label for="respond">Respond:</label>
              <textarea id="respond" [(ngModel)]="newRespond.respond" name="respond" required></textarea>
            </div>
            <button type="submit">Add Respond</button>
          </form>
        </div>
        <div class="respond-list">
          <h4>Responds</h4>
          <ul>
            <li *ngFor="let respond of comment.responds">
              <p>{{ respond.respond }}</p>
              <p>Likes: {{ respond.likes }} | Dislikes: {{ respond.dislikes }}</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div> -->
  