/* Chatbot Toggle Button */

.chatbot-toggle-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.chatbot-icon {
    width: 60px;
    /* Increase the size of the icon */
    height: 60px;
    /* Increase the size of the icon */
}


/* Chatbot Container */

.chatbot-container {
    position: fixed;
    bottom: -400px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 20px;
    /* Rounded corners */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: bottom 0.3s ease, box-shadow 0.3s ease;
    z-index: 999;
    overflow: hidden;
}

.chatbot-container.open {
    bottom: 20px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    /* Increased shadow when open */
}


/* Chatbot Header */

.chatbot-header {
    background-color: #265e9a;
    /* Dark blue */
    color: #fff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    /* Rounded top corners */
    border-top-right-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.chatbot-header-icon {
    width: 50px;
    /* Increase the size of the icon */
    height: 50px;
    /* Increase the size of the icon */
}

.chatbot-controls {
    display: flex;
    align-items: center;
}

.chatbot-minimize,
.chatbot-close {
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.chatbot-close {
    margin-left: auto;
    /* Push close button to the right */
}


/* Chatbot Body */

.chatbot-body {
    padding: 16px;
    height: calc(100% - 64px);
    /* Adjusted height */
    display: flex;
    flex-direction: column;
}


/* Chatbot Messages */

.chatbot-messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 16px;
}

.user-message {
    text-align: right;
    margin: 8px 0;
}

.bot-message {
    text-align: left;
    margin: 8px 0;
}


/* Chatbot Input and Send Button */

.chatbot-input-container {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.chatbot-input {
    width: calc(100% - 64px);
    /* Adjusted width */
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    /* Rounded input */
    margin-right: 16px;
    font-family: 'Roboto', sans-serif;
}

.send-message-btn {
    background-color: #4CAF50;
    /* Green send button */
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    /* Rounded button */
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
}

.send-message-btn:hover {
    background-color: #45a049;
    /* Darker green on hover */
}
