<!-- Chatbot Toggle Button -->
<button *ngIf="!isOpen" id="chatbot-toggle" class="chatbot-toggle-btn" (click)="toggleChatbot()">
  <img src="../../assets/images/chat-b.png" alt="Chatbot Icon" class="chatbot-icon">
</button>

<!-- Chatbot Zone -->
<div id="chatbot-zone" class="chatbot-container" [class.open]="isOpen">
    <!-- Chatbot Header -->
    <div class="chatbot-header">
        <img src="../../assets/images/chat-b.png" alt="Chatbot Icon" class="chatbot-header-icon">
        <div class="chatbot-controls">
            <span class="chatbot-close" (click)="closeChatbot()">&times;</span>
        </div>
    </div>

    <!-- Chatbot Body -->
    <div class="chatbot-body">
        <!-- Chatbot Messages -->
        <div class="chatbot-messages">
            <div *ngFor="let message of messages" [ngClass]="{'user-message': message.sender === 'User', 'bot-message': message.sender === 'Bot'}">
                {{ message.text }}
            </div>
        </div>

        <!-- Input and Send Button -->
        <div class="chatbot-input-container">
            <input type="text" class="chatbot-input" placeholder="Type a message..." [(ngModel)]="userMessage" (keypress)="onKeyPress($event)">
            <button class="send-message-btn" (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>
