<div class="container mt-4 vehicle-form-container">
  <hr class="hr-animated">
  <h2 class="form-title">Modifier un Véhicule</h2>
  <div class="row mb-4">
    <div class="col-md-6">
      <form #updateFormRef="ngForm" (ngSubmit)="updateVehicule(updateFormRef)" class="vehicle-form">
        <div class="form-group">
          <label for="updateId">ID</label>
          <input type="text" class="form-control" id="updateId" [(ngModel)]="vehiculeToUpdate.id" name="id" required disabled>
        </div>
        <div class="form-group">
          <label for="updateMatricule">Matricule</label>
          <input type="text" class="form-control" id="updateMatricule" [(ngModel)]="vehiculeToUpdate.matricule" name="matricule" required>
        </div>
        <div class="form-group">
          <label for="updateModele">Modèle</label>
          <input type="text" class="form-control" id="updateModele" [(ngModel)]="vehiculeToUpdate.modele" name="modele" required>
        </div>
        <div class="form-group">
          <label for="updateCouleur">Couleur</label>
          <input type="text" class="form-control" id="updateCouleur" [(ngModel)]="vehiculeToUpdate.couleur" name="couleur" required>
        </div>
        <div class="form-group">
          <label for="updateEnergie">Énergie</label>
          <input type="text" class="form-control" id="updateEnergie" [(ngModel)]="vehiculeToUpdate.energie" name="energie" required>
        </div>
        <div class="form-group">
          <label for="updatePrix">Prix</label>
          <input type="number" class="form-control" id="updatePrix" [(ngModel)]="vehiculeToUpdate.prix" name="prix" required min="0">
        </div>
        <button type="submit" class="btn btn-edit" [disabled]="isSubmitting">
          <i class="fas fa-edit"></i> Modifier
        </button>
        <button type="button" class="btn btn-danger" (click)="clearUpdateForm()">
          <i class="fas fa-times"></i> Annuler
        </button>
      </form>
    </div>
    <div class="col-md-6 d-flex flex-wrap justify-content-center align-items-center">
      <img src="assets/images/garage.png" class="animated-image m-2" alt="Image animée du véhicule">
    </div>
  </div>
</div>
<hr class="hr-animated">
