.card {
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Ombre légère */
}

.card-header {
  background-color: #f8f9fa; /* Couleur de fond du header */
  padding: 15px;
  border-bottom: 1px solid #dee2e6; /* Bordure en bas */
}

.card-body {
  padding: 20px;
}

.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff; /* Couleur de fond du bouton */
  border-color: #007bff; /* Couleur de bordure du bouton */
}

.btn-primary:hover {
  background-color: #0056b3; /* Couleur de fond du bouton au survol */
  border-color: #0056b3; /* Couleur de bordure du bouton au survol */
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); /* Ombre au focus */
}

.btn-primary:disabled, .btn-primary.disabled {
  background-color: #007bff; /* Couleur de fond du bouton désactivé */
  border-color: #007bff; /* Couleur de bordure du bouton désactivé */
}
