<form [formGroup]="requestResetForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('email')}">
      <div *ngIf="isFieldInvalid('email')" class="invalid-feedback">
        {{ getEmailErrorMessage() }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Request Password Reset</button>
  </form>
  
