<div class="container mt-5">
  <div class="card shadow-sm mx-auto" style="max-width: 400px;">
    <div class="card-header">
      <h2 class="mb-0 text-center">Password reset request: add your email below</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="requestResetForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="email" class="form-label">Email :</label>
          <input id="email" formControlName="email" type="email" class="form-control"
            [ngClass]="{'is-invalid': isFieldInvalid('email')}">
          <div *ngIf="isFieldInvalid('email')" class="invalid-feedback">
            {{ getEmailErrorMessage() }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3">Send Code</button>
      </form>

      <!-- Alerte pour informer l'utilisateur -->
      <div *ngIf="emailSent" class="alert alert-success mt-3" role="alert">
        An email has been sent to {{ requestResetForm.value.email }}. Please check your email to proceed.
      </div>
    </div>
  </div>
</div>
