
<html>
    <head>
    <script src="/socket.io/socket.io.js"></script>

    </head>

    <body>
    <label>msg:</label><input type="text" onkeyup="typing()" id="ch"><input type="submit" onclick="send()"> 
    <script>
     const socket=io.connect();
     name=prompt("put your name:");

     socket.emit("msgs",name)
        socket.on("typing" ,(data)=>{
            p=document.createElement("p")
            p.innerText=data;
            document.body.appendChild(p);
        })
         socket.on("msgs" ,(data)=>{
            p=document.createElement("p")
            p.innerText=data;
            document.body.appendChild(p);
        })

     socket.on("msg",(data)=>{

        p=document.createElement("p")
        p.innerText=data;
        document.body.appendChild(p);
     });
     x=document.getElementById("ch");

     function typing(){
        socket.emit("typing",name);
     }
     function send(){
        console.log("message :" +x.value ,name)
        socket.emit("msg",{object:x.value,name:name});
     }

    </script>
    </body>

</html>