<div class="container mt-4">
  <div class="btn-group mb-4 d-flex justify-content-center" role="group">
    <button type="button" class="btn btn-primary btn-animate" (click)="showComponent('add')">
      <i class="fas fa-plus"></i> Add a Vehicle
    </button>
    <button type="button" class="btn btn-secondary btn-animate" (click)="showComponent('update')">
      <i class="fas fa-edit"></i> Edit a Vehicle
    </button>
    <button type="button" class="btn btn-danger btn-animate" (click)="showComponent('delete')">
      <i class="fas fa-trash-alt"></i> Delete a Vehicle
    </button>
    <button type="button" class="btn btn-info btn-animate" (click)="showComponent('display')">
      <i class="fas fa-eye"></i> Show Vehicles
    </button>
  </div>

  <app-add-vehicule *ngIf="displayedComponent === 'add'"></app-add-vehicule>
  <app-update-vehicule *ngIf="displayedComponent === 'update'"></app-update-vehicule>
  <app-delete-vehicule *ngIf="displayedComponent === 'delete'"></app-delete-vehicule>
  <app-display-vehicules *ngIf="displayedComponent === 'display'"></app-display-vehicules>
</div>
