<div class="container mt-4">
  <div class="container mt-4 vehicle-form-container">
    <hr class="hr-animated">
    <h2 class="form-title" [ngClass]="{'flashing': isSubmitting}">Ajouter un Véhicule</h2>
    <div class="row mb-4">
      <div class="col-md-6">
        <form #formRef="ngForm" (ngSubmit)="addVehicule(formRef)" class="vehicle-form">
          <div class="form-group">
            <label for="matricule">Matricule</label>
            <input type="text" class="form-control" id="matricule" [(ngModel)]="vehiculeToAdd.matricule" name="matricule" required #matricule="ngModel">
            <div *ngIf="matricule.invalid && (matricule.dirty || matricule.touched)" class="alert alert-danger">
              <div *ngIf="matricule.errors?.['required']">Matricule est requis.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="modele">Modèle</label>
            <input type="text" class="form-control" id="modele" [(ngModel)]="vehiculeToAdd.modele" name="modele" required #modele="ngModel">
            <div *ngIf="modele.invalid && (modele.dirty || modele.touched)" class="alert alert-danger">
              <div *ngIf="modele.errors?.['required']">Modèle est requis.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="couleur">Couleur</label>
            <input type="text" class="form-control" id="couleur" [(ngModel)]="vehiculeToAdd.couleur" name="couleur" required #couleur="ngModel">
            <div *ngIf="couleur.invalid && (couleur.dirty || couleur.touched)" class="alert alert-danger">
              <div *ngIf="couleur.errors?.['required']">Couleur est requise.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="energie">Énergie</label>
            <input type="text" class="form-control" id="energie" [(ngModel)]="vehiculeToAdd.energie" name="energie" required #energie="ngModel">
            <div *ngIf="energie.invalid && (energie.dirty || energie.touched)" class="alert alert-danger">
              <div *ngIf="energie.errors?.['required']">Énergie est requise.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="prix">Prix</label>
            <input type="number" class="form-control" id="prix" [(ngModel)]="vehiculeToAdd.prix" name="prix" required min="0" #prix="ngModel">
            <div *ngIf="prix.invalid && (prix.dirty || prix.touched)" class="alert alert-danger">
              <div *ngIf="prix.errors?.['required']">Prix est requis.</div>
              <div *ngIf="prix.errors?.['min']">Le prix doit être supérieur ou égal à 0.</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-plus"></i>
          </button>
        </form>
      </div>

      <div class="col-md-6 d-flex flex-wrap justify-content-center">
        <img src="assets/images/voiture rouge.png" class="animated-image m-2" alt="Image animée 3">
      </div>
    </div>
  </div>
  
  
  <hr class="hr-animated">
  
<!--_____________________________________Update_____________________________________________-->

<div class="container mt-4 vehicle-form-container">
  <hr class="hr-animated">
  <h2 class="form-title">Modifier un Véhicule</h2>
  <div class="row mb-4">
    <div class="col-md-6">
      <form #updateFormRef="ngForm" (ngSubmit)="updateVehicule(updateFormRef)" class="vehicle-form">
        <div class="form-group">
          <label for="updateId">ID</label>
          <input type="text" class="form-control" id="updateId" [(ngModel)]="vehiculeToUpdate.id" name="id" required #id="ngModel">
          <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger">
            <div *ngIf="id.errors?.['required']">ID est requis.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="updateMatricule">Matricule</label>
          <input type="text" class="form-control" id="updateMatricule" [(ngModel)]="vehiculeToUpdate.matricule" name="matricule" required #matricule="ngModel">
          <div *ngIf="matricule.invalid && (matricule.dirty || matricule.touched)" class="alert alert-danger">
            <div *ngIf="matricule.errors?.['required']">Matricule est requis.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="updateModele">Modèle</label>
          <input type="text" class="form-control" id="updateModele" [(ngModel)]="vehiculeToUpdate.modele" name="modele" required #modele="ngModel">
          <div *ngIf="modele.invalid && (modele.dirty || modele.touched)" class="alert alert-danger">
            <div *ngIf="modele.errors?.['required']">Modèle est requis.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="updateCouleur">Couleur</label>
          <input type="text" class="form-control" id="updateCouleur" [(ngModel)]="vehiculeToUpdate.couleur" name="couleur" required #couleur="ngModel">
          <div *ngIf="couleur.invalid && (couleur.dirty || couleur.touched)" class="alert alert-danger">
            <div *ngIf="couleur.errors?.['required']">Couleur est requise.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="updateEnergie">Énergie</label>
          <input type="text" class="form-control" id="updateEnergie" [(ngModel)]="vehiculeToUpdate.energie" name="energie" required #energie="ngModel">
          <div *ngIf="energie.invalid && (energie.dirty || energie.touched)" class="alert alert-danger">
            <div *ngIf="energie.errors?.['required']">Énergie est requise.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="updatePrix">Prix</label>
          <input type="number" class="form-control" id="updatePrix" [(ngModel)]="vehiculeToUpdate.prix" name="prix" required min="0" #prix="ngModel">
          <div *ngIf="prix.invalid && (prix.dirty || prix.touched)" class="alert alert-danger">
            <div *ngIf="prix.errors?.['required']">Prix est requis.</div>
            <div *ngIf="prix.errors?.['min']">Le prix doit être supérieur ou égal à 0.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-edit">
          <i class="fas fa-edit"></i>
        </button>
        <button type="button" class="btn btn-delete" (click)="clearUpdateForm()">
          <i class="fas fa-times"></i>
        </button>
      </form>
    </div>
    <div class="col-md-6 d-flex flex-wrap justify-content-center align-items-center">
      <img src="assets/images/garage.png" class="animated-image m-2" alt="Image animée du véhicule">
    </div>
  </div>
</div>

<hr class="hr-animated">

<!--______________________________________Delete_____________________________________________-->
<div class="container mt-4 vehicle-form-container">
  <hr class="hr-animated">
  <h2 class="form-title">Supprimer un Véhicule</h2>
  <div class="row mb-4">
    <div class="col-md-6">
      <form #deleteFormRef="ngForm" (ngSubmit)="deleteVehicule()">
        <div class="form-group">
          <label for="deleteId">ID du Véhicule</label>
          <input type="text" class="form-control" id="deleteId" [(ngModel)]="vehiculeIdToDelete" name="id" required #id="ngModel"
            (ngModelChange)="onVehiculeIdToDeleteChange($event)"
            [ngClass]="{'is-invalid': id.invalid && (id.dirty || id.touched)}">
          <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger">
            <div *ngIf="id.errors?.['required']">ID est requis.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-danger btn-delete">
          <i class="fas fa-trash"></i> Supprimer
        </button>
      </form>
    </div>
    <div class="col-md-6">
      <!-- Zone pour afficher les détails du véhicule avant suppression -->
      <div *ngIf="selectedVehicule" class="card mt-3 card-danger">
        <div class="card-body">
          <h5 class="card-title">Détails du Véhicule à Supprimer</h5>
          <p><strong>Matricule:</strong> {{ selectedVehicule.matricule }}</p>
          <p><strong>Modèle:</strong> {{ selectedVehicule.modele }}</p>
          <p><strong>Couleur:</strong> {{ selectedVehicule.couleur }}</p>
          <p><strong>Énergie:</strong> {{ selectedVehicule.energie }}</p>
          <p><strong>Prix:</strong> {{ selectedVehicule.prix }}</p>
        </div>
      </div>
    </div>
  </div>
</div>



<hr class="hr-animated">

<!--____________________________________________Liste des véhicules ______________________________________________-->

<h2>Liste des Véhicules</h2>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let vehicule of vehicules">
    <div class="card h-100 card-background">
      <div class="card-body">
        <h5 class="card-title">Modèle : {{ vehicule.modele }}</h5>
        <p class="card-text">Couleur : {{ vehicule.couleur }}</p>
        <p class="card-text">Énergie : {{ vehicule.energie }}</p>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-edit">
          <i class="fas fa-edit"></i>
        </button>
        <button type="submit" class="btn btn-danger btn-delete">
          <i class="fas fa-trash"></i> Supprimer
        </button>
      </div>
    </div>
  </div>
</div>

