/* Container styling */

.container {
    max-width: 1200px;
    margin: auto;
}


/* Headings styling */

h2 {
    font-weight: bold;
    color: #333;
}


/* Form controls styling */

.form-control {
    border-radius: 0.25rem;
}


/* Button styling */

.btn-dark {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.btn-dark:hover {
    background-color: #333;
    border-color: #333;
}

.btn-block {
    width: 100%;
}


/* Layout styling */

.layout {
    display: flex;
    margin-top: 20px;
}


/* Sidebar styling */

.sidebar {
    width: 260px;
    background-color: #f8f9fa;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}


/* Content area styling */

.content {
    margin-left: 20px;
    padding: 20px;
    flex-grow: 1;
}


/* Admin buttons styling */

.admin-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Navbar styling */

app-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}