<div class="container mt-4">
  <div class="container mt-4 vehicle-form-container">
    <!-- Form for adding historique -->
    <div class="add-historique-form">
      <h3>Ajouter un entretien</h3>
      <form (ngSubmit)="addHistorique()">
        <div class="form-group">
          <label for="matricule">Matricule</label>
          <input type="text" id="matricule" [(ngModel)]="newHistorique.matricule" name="matricule" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="dateEntered">Date d'entrée</label>
          <input type="date" id="dateEntered" [(ngModel)]="newHistorique.date_entered" name="dateEntered" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="releaseDate">Date de sortie</label>
          <input type="date" id="releaseDate" [(ngModel)]="newHistorique.release_date" name="releaseDate" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="maintenanceDescription">Description de l'entretien</label>
          <input type="text" id="maintenanceDescription" [(ngModel)]="newHistorique.maintenance_description" name="maintenanceDescription" class="form-control" required>
        </div>
        <div class="btn-container">
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-plus"></i> Ajouter
          </button>
        </div>
      </form>
    </div>
  </div>



<!--______________________________SELECT By matricule__________________________________________-->

<hr class="hr-animated">
<div class="matricule-form">
  <label for="matriculeInput">Matricule du Véhicule:</label>
  <input type="text" id="matriculeInput" [(ngModel)]="matricule" placeholder="Entrez le matricule" class="form-control">
  <button (click)="fetchHistoriques()" class="btn btn-primary">Afficher Historiques</button>
</div>
<div *ngIf="historiques && historiques.length > 0">
  <h3>Historiques du Véhicule</h3>
  <div class="historiques-list">
    <div *ngFor="let historique of historiques" class="historique-item card">
      <div class="card-body">
        <p><strong>Date d'entrée:</strong> {{historique.date_entered | date: 'shortDate'}}</p>
        <p><strong>Date de sortie:</strong> {{historique.release_date | date: 'shortDate'}}</p>
        <p><strong>Description:</strong> {{historique.maintenance_description}}</p>
        <p><strong>Jours d'entretien:</strong> {{historique.maintenance_days}}</p>
        <p *ngIf="historique.alert" class="alert alert-danger">{{historique.alert}}</p>
      </div>
    </div>
  </div>
</div>

