<div class="container">
    <h2>Search Products</h2>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm" (input)="search(searchTerm)">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="search(searchTerm)">Search</button>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Like</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of searchResults">
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.like }}</td>
            </tr>
        </tbody>
    </table>
    <!-- Back Button -->
    <button class="btn btn-secondary mb-3" (click)="goBack()">Back to Dashboard</button>
</div>