/* Custom CSS styles */


/* Container */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* Card */

.card {
    margin-bottom: 20px;
    border: 1px solid #525050;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


/* Feature Container */

.feature-container {
    display: flex;
    align-items: center;
}


/* Welcome Message */

.welcome-message {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}


/* Animated Pulse */

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.animated.infinite.pulse {
    animation: pulse 2s infinite;
}


/* Feature Image */

.feature-image {
    width: 70px;
    height: auto;
    margin-left: 10px;
}
