/* Container styling */

.container {
    max-width: 1200px;
    /* Adjusted to fit both sidebar and content */
    margin: auto;
}


/* Headings styling */

h2 {
    font-weight: bold;
    color: #333;
}


/* Form controls styling */

.form-control {
    border-radius: 0.25rem;
}


/* Button styling */

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
}

.btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-block {
    width: 100%;
}


/* Layout styling */

.layout {
    display: flex;
    margin-top: 100px;
    margin-bottom: 10%;
    /* Adjust as needed */
}


/* Sidebar styling */

.sidebar {
    width: 260px;
    /* Adjust as needed */
    background-color: #f8f9fa;
    /* Adjust to match your design */
    padding: 20px;
    height: 60vh;
    overflow-y: fixed;
}


/* Content area styling */

.content {
    margin-left: 20px;
    /* Adjust as needed */
    padding: 20px;
    flex-grow: 1;
}


/* Admin buttons styling */

.admin-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Navbar styling */

app-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


/* Smaller form styling */

.card-body form .form-group {
    margin-bottom: 15px;
}

.card-body form .form-control {
    font-size: 14px;
    padding: 8px;
}

.card-body form label {
    font-size: 16px;
}

.card-body form button {
    font-size: 16px;
    padding: 8px 12px;
}
