<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid text-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/administration">
                        <i class="fas fa-chart-line me-1"></i>Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/addProduct">
                        <i class="fas fa-box-open me-1"></i>Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ShowCategorie">
                        <i class="fas fa-cubes me-1"></i>Stocks
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Welcome Message with Animation -->
<div class="row mt-4">
    <div class="col-md-12 text-center">
        <p class="welcome-message animated infinite pulse">Welcome to the Admin Controller Center - Simplify Business, Manage Products and Categories Effortlessly.</p>
    </div>
</div>

<!-- Main Container -->
<div class="container">
    <div class="layout">
        <div class="sidebar">
            <!-- Admin Panel Buttons -->
            <div class="admin-buttons">
                <button class="btn btn-dark btn-block mb-2" routerLink="/addProduct">Add Product</button>
                <button class="btn btn-dark btn-block mb-2" routerLink="/ShowProucts">Show Products</button>
                <button class="btn btn-dark btn-block mb-2" routerLink="/SearchProducts">Search Product</button>
                <button class="btn btn-dark btn-block mb-2" routerLink="/CountProduct">Count Products</button>
            </div>
            <!-- Back Button -->
            <button class="btn btn-dark btn-secondary mt-3" (click)="goBack()">Back to Dashboard</button>
        </div>
        <div class="content">
            <h2>Add Product</h2>
            <form [formGroup]="productForm" enctype="multipart/form-data" novalidate>
                <div class="form-group row mb-2">
                    <label for="name" class="col-sm-3 col-form-label">Name:</label>
                    <div class="col-sm-9">
                        <input id="name" formControlName="name" type="text" class="form-control form-control-sm" required>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="reference" class="col-sm-3 col-form-label">Reference:</label>
                    <div class="col-sm-9">
                        <input id="reference" formControlName="reference" type="text" class="form-control form-control-sm" required>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="dateAdded" class="col-sm-3 col-form-label">Date Added:</label>
                    <div class="col-sm-9">
                        <input id="dateAdded" formControlName="dateAdded" type="date" class="form-control form-control-sm" required>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="price" class="col-sm-3 col-form-label">Price:</label>
                    <div class="col-sm-9">
                        <input id="price" formControlName="price" type="number" class="form-control form-control-sm" required>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="description" class="col-sm-3 col-form-label">Description:</label>
                    <div class="col-sm-9">
                        <input id="description" formControlName="description" type="text" class="form-control form-control-sm" required>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label for="category" class="col-sm-3 col-form-label">Category:</label>
                    <div class="col-sm-9">
                        <input id="category" formControlName="category" type="text" class="form-control form-control-sm" required>
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="stockQuantity" class="col-sm-3 col-form-label">Stock Quantity:</label>
                    <div class="col-sm-9">
                        <input id="stockQuantity" formControlName="stockQuantity" type="number" class="form-control form-control-sm" required>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label for="image" class="col-sm-3 col-form-label">Image:</label>
                    <div class="col-sm-9">
                        <input type="file" (change)="selectFile($event)" formControlName="image" accept="image/*">

                    </div>

                </div>
                <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid" (click)="onSubmit()">
                    Sauvegarder</button>
            </form>
        </div>
    </div>
</div>