<div class="container">
    <h2>Product List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Like</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products | async">
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.like }}</td>
            </tr>
        </tbody>
    </table>
    <!-- Back Button -->
    <button class="btn btn-secondary mb-3" (click)="goBack()">Back to Dashboard</button>
</div>