<div class="container">
    <div class="layout">
        <div class="sidebar">
            <!-- Admin Panel Buttons -->
            <div class="admin-buttons">
                <button class="btn btn-primary btn-block" routerLink="/addProduct">Add Product</button>
                <button class="btn btn-danger btn-block" routerLink="/delete-product">Delete Product</button>
                <button class="btn btn-warning btn-block" routerLink="/update-product/:id">Update Product</button>
                <button class="btn btn-info btn-block" routerLink="/ShowProucts">Show Products</button>
                <button class="btn btn-success btn-block" routerLink="/SearchProducts">Search Product</button>
                <button class="btn btn-secondary btn-block" routerLink="/CountProduct">Count Products</button>
            </div>

            <!-- Back Button -->
            <button class="btn btn-secondary mt-3" (click)="goBack()">Back to Dashboard</button>
        </div>

        <div class="content">
            <h2>Product List</h2>
            <div class="row">
                <div class="col-md-3 col-sm-6" *ngFor="let product of products">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" [src]="product.imageUrl" alt="Product image">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Reference: {{ product.reference }}</p>
                            <p class="card-text">Price: {{ product.price }}</p>
                            <a class="btn btn-primary btn-sm" routerLink="/update-product/{{product.id}}">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>