<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email">
      <div *ngIf="isFieldInvalid('email')" class="error-message">
        {{ getEmailErrorMessage() }}
      </div>
    </div>
  
    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password">
      <div *ngIf="isFieldInvalid('password')" class="error-message">
        {{ getPasswordErrorMessage() }}
      </div>
    </div>
  
    <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
  
    <button type="submit">Login</button>
  </form>
  