/* Administration buttons */

.nav-item:not(:last-child) {
    margin-right: 10px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link.administration {
    background-color: #fff;
    /* Background color */
    border: 1px solid rgba(237, 3, 3, 0.125);
    /* Border color */
    border-radius: 0.25rem;
    /* Border radius */
    color: #212529;
    /* Text color */
    padding: 0.5rem 1rem;
    /* Padding */
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    /* Transition effect */
}

.nav-link.administration:hover {
    background-color: rgba(0, 0, 0, 0.075);
    /* Hover background color */
    border-color: rgba(0, 0, 0, 0.3);
    /* Hover border color */
    color: #212529;
    /* Hover text color */
}
