<form [formGroup]="usersForm" (ngSubmit)="onSubmit()" class="my-form">
  <label for="nom">Nom :</label>
  <input type="text" id="nom" formControlName="nom">

  <label for="prenom">Prénom :</label>
  <input type="text" id="prenom" formControlName="prenom">

  <label for="adresse">Adresse :</label>
  <input type="text" id="adresse" formControlName="adresse">

  <label for="email">Email :</label>
  <input type="email" id="email" formControlName="email">

  <label for="num_tel">Numéro de téléphone :</label>
  <input type="text" id="num_tel" formControlName="num_tel">

  <label for="mot_de_passe">Mot de passe :</label>
  <input type="password" id="mot_de_passe" formControlName="mot_de_passe">

  <label for="role">Rôle :</label>
  <select id="role" formControlName="role">
    <option value="" disabled selected>Sélectionnez un rôle</option>
    <option value="admin">admin</option>
    <option value="client">client</option>
    <option value="fournisseur">fournisseur</option>
    <option value="livreur">livreur</option>

  </select>

  <!-- Ajoutez d'autres champs de formulaire avec formControlName correspondant -->

  <button type="submit" [disabled]="usersForm.invalid">Soumettre</button>
</form>
