<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <div class="form-group">
      <label for="password">New Password</label>
      <input id="password" formControlName="password" type="password" class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('password')}">
      <div *ngIf="isFieldInvalid('password')" class="invalid-feedback">
        {{ getPasswordErrorMessage() }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Reset Password</button>
  </form>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>