<app-navbar></app-navbar>
<div class="layout">
    <div class="sidebar">
        <!-- Admin Panel Buttons -->
        <div class="admin-buttons">
            <button class="btn btn-primary btn-dark" routerLink=#>Engine Parts</button>
            <button class="btn btn-primary btn-dark" routerLink=>Transmission Parts</button>
            <button class="btn btn-primary btn-dark" routerLink=>Suspension Parts</button>
            <button class="btn btn-primary btn-dark" routerLink=>Brake Parts</button>
            <button class="btn btn-primary btn-dark" routerLink=>Electrical Parts</button>
            <button class="btn btn-primary btn-dark" routerLink=>Exhaust System Parts</button>
            <button class="btn btn-primary btn-dark" routerLink=>Cooling System Parts</button>
            <button class="btn btn-primary btn-dark" routerLink=>Ignition System Parts</button>
            <button class="btn btn-primary btn-dark" routerLink=>Fuel System Parts</button>
            <button class="btn btn-primary btn-dark" routerLink=>Air Intake Parts</button>
            <button class="btn btn-primary btn-dark" routerLink=>Steering Parts</button>
            <button class="btn btn-primary btn-dark" routerLink=>Body Parts</button>
            <button class="btn btn-primary btn-dark" routerLink=>Interior Parts</button>
            <button class="btn btn-primary btn-dark" routerLink=>Exterior Parts</button>
        </div>

    </div>
    <div class="text-center">
        <h1>Choose Parts from Engine Category</h1>
        <div class="row">
            <div class="col" *ngFor="let t of listProduct">
                <app-show-one-product [p]="t"></app-show-one-product>
            </div>
        </div>
        <!-- Add your product details here -->

    </div>

</div>
